@import "settings";
@import "foundation";
@import "compass/css3";
$fizz-color: #105b63;
$buzz-color: #ffd34e;
$fizzbuzz-color: #bd4932;
$shadow-color: #8aa;
@function thicken-shadow($depth, $color) {
  $value: "";
  @for $i from 1 through $depth {
    $shadedcolor: darken($color, 20 + $i * 5);
    $value: $value +'0px #{$i}px 0 #{$shadedcolor}, '
  }
  $value: $value + '0px 0px 0px hsla(0,0%,0%,0)';
  @return unquote($value)
}

.fizz, .buzz, .fizzbuzz {
  color: $shadow-color;
  text-shadow: thicken-shadow(3, $shadow-color), -4px 4px 6px #000;
  font-size: 2em;
}

.fizz {
  color: $fizz-color;
}

.buzz {
  color: $buzz-color;
}

.fizzbuzz {
  color: $fizzbuzz-color;
}
